
.product_card{
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    max-width: 300px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.product_image{
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 12px;
}